@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --spacing: 1px;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  --font-size-md-14: 0.875rem;
  --font-line-height-md-14: 1.25rem;
  --font-weight-md-14: 500;

  --font-size-sb-13: 0.8125rem;
  --font-line-height-sb-13: 1.25rem;
  --font-weight-sb-13: 600;

  --color-charcoal: #111111;
  --color-slate: #555555;
  --color-steel: #999999;
  --color-green: #5ecd67;

  --shadow-regular-1: 0px 8px 40px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

  --font-inter: "Inter", sans-serif;
}
